body {
    background: #1b1c22;
    font-family: "Work Sans";
}

.text-shadow-simple {
    text-shadow: 4px 3px 0 #4a4aff, -14px 7px 0 #1b1c22;
}

.flashing-border {
    @apply border-4 border-white;

    animation: flash 500ms infinite;
}

@keyframes flash {
    50% {
        border-color: rgba(255, 255, 255, 0);
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;